**
!README.md
!.gitignore
!Saved
!Saved/SavedArks
Saved/SavedArks/*
Saved/LocalProfiles
Saved/Logs
Saved/SavedArksLocal
!Binaries
!Binaries/Win64
Binaries/Win64/*
!*Binaries/Win64/ARK.bat
!Saved/SavedArks/*.arktribe
!Saved/SavedArks/*.arkprofile
!Saved/SavedArks/TheIsland.ark
!Saved/Config
!Saved/Config/WindowsServer
Saved/Config/WindowsServer/*
!Saved/Config/WindowsServer/GameUserSettings.ini
!Saved/Config/WindowsServer/Game.ini